*.o
advdif
blast
cholesky
cluster
conjug
drunkard
findata
finelem2
fluidyn
gaussor
heatcrni
heatelem
heatex
heatri
hotplate
iccg
leapdf
mac
magelec
markov3
mcplate
metropol
oscillat
pic
polywalk
radbar
reactor
satellit
shootemp
tridiag
trojans
twodwave
wave

